- //共通設定のための変数を定義
- var title = "佐々木のホームページ"
- var page = "top"
- var description = "佐々木のホームページです。"
- var pageName = "トップページ"

- var pageJS = false //ページ毎のjsを使用するか

- var imgDir = "../assets/img/"
- var imgComDir = imgDir + "common/"