header.site-header 
  .site-header__inner 
    .header-nav
    nav.site-header__nav
      ul.site-header__nav-list 
        li.site-header__nav-item 
          a(href="/") トップ
        li.site-header__nav-item 
          a(href="/oekaki") イラスト
        li.site-header__nav-item 
          a(href="/ongaku") 音楽
        li.site-header__nav-item 
          a(href="/contact") お問い合わせ