block 404
  section(class='section section-404 page is-active' id='404')
    .section-content
      .content
        .notFound
          .img-wrap#js-loading
            img(src='../assets/img/common/icon.jpg', alt='sasaki')
          .site-404__attention 指定のページが見つかりません
