block oekaki
  section(class='section section-oekaki page is-inactive' id='oekaki')
    .section-content
      .content
        .oekai
          .img-wrap#js-loading
            img(src='../assets/img/common/icon.jpg', alt='sasaki')
          .oekaki__text お絵かきページです。
