block top
  section(class='section section-top page is-active' id='top')
    .section-content
      .content
        .top
          .img-wrap#loading
            img(src='../assets/img/common/icon.jpg', alt='sasaki')
          .top__text 佐々木のホームーページです。
            App(id='app')
              a(ref='app')
