extends ../assets/html/template
block config
  - var page = "oekaki";
  - var title = "佐々木のホームページ";
  - var imgDir = "../assets/img/";


block main 
  main.site-main 
    .site-main__inner 
      h2.site-main__title トップページ
      p.site-main__description 佐々木のホームページです。