block footer
  footer.site-footer
    p.site-footer__text  © 2024 sasaki
  - if(MODE_DEV === true)
    .debug__overlay#debug-overlay
      .debug__overlay--button
        .button-wrapper
          button(id='js-debug-border' data-debug-border='false') 枠線:OFF
      .debug__overlay--pulldown
        .button-wrapper
          button(id='js-debug-pulldown' data-debug-pulldown='false') プルダウン:OFF
      .debug__overlay--false
        .button-wrapper
          button(id='js-debug-false' data-debug-false='false') デバッグ:OFF
