extends _includes/_layout

block config
  include _includes/_config
    - var page = "top";

block head
  include _includes/_components/_head

block header
  include _includes/_components/_header

block contents
  include _includes/_components/_contents

block footer
  include _includes/_components/_footer

