extends ./assets/html/homepage/top

block page 
  - var page = "top"
block main
  main.site-main 
    .section.section-hero 
      .section-hero__img 
        img(src=imgComDir + "sasaki.jpg", alt="佐々木")
      .section-hero__text
        h1 佐々木のホームページへようこそ！
